*.h5
*~
data*txt
*.log
#*.out
*.dat
*.tar
*.cmd
*.ele
*.face
*.node
*.bak
*.log.*
*.png
*.mp4
install_*
config_*
./junk
./junk/*
./do_not_git
./do_not_git/*
cshore_m
do_not_git
junk
summary_lidar_science.mat
OB*
OX*
OY*
OC*
OD*
OE*
OL*
OM*
OP*
OR*
OS*
OT*